@import '../../styles/variables';

// ===================================
// Left Sidebar Main Container
// ===================================
.leftSidebar {
  width: 150px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.03);
 
  @media (max-width: $breakpoint-md) {
    display: none; // Hide sidebar on mobile and tablet
  }
}

.sidebarContent {
  max-width: 100px;
  width: 100%;
  height: calc(140vh - 60px);
  background-color: $color-primary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 20px 0;
}
