@import '../../styles/variables';

.header{
    max-width: 2000px;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    padding-top: 50px;
    padding-left: 25px;
}

.searchPlaceholder{
    width: 900px;
}
