@import '../../styles/variables';

.header{
    max-width: 2000px;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    padding-top: 50px;
    padding-left: 25px;
    
    @media (max-width: $breakpoint-lg) {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    @media (max-width: $breakpoint-md) {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
}

.searchPlaceholder{
    width: 900px;
    max-width: 100%;
    
    @media (max-width: $breakpoint-lg) {
        width: 100%;
    }
}
