@import "../../../styles/variables";

// Footer styles
.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: rgba(255, 255, 255, 0.03);
  border-top: 1px solid $color-border;

  @media (max-width: $breakpoint-lg) {
    grid-row: 4 / 5;
  }
}
