@import "../../../styles/variables";

.weatherMode {
  width: 60px;
  height: 60px;
  background-color: $color-primary-hover;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 40px;
  height: 40px;
}
